[Unit]
Description=Control external LED on RPI for wifi status

[Service]
Type=simple
Restart=on-failure
RestartSec=5

# To define the state to listen for and the pin to listen on
# Use the "Environment" or "EnvironmentFile" options
# If no environment information provided,
# Hard-coded defaults will be used
#
# Only one of the following Environment lines should be used
#Environment=ENV_INT=wlan0 #Set interface
#Environment=ENV_GPIO=21  #Set GPIO pin
#Environment=ENV_BRIGHTNESS=128  #Set brightness  1-255, 255 is brightest
#Environment=ENV_INT=wlan0 ENV_GPIO=26 ENV_BRIGHTNESS=20 #Set all three
#
# Or, instead of the Environment command,
# use a file instead
EnvironmentFile=/etc/default/wifi-led


ExecStart=/usr/local/bin/wifi-led.py

[Install]
WantedBy=multi-user.target
